{% extends "base.html" %}

{% block title %}
  Форма для сохранения данных о производстве роботов через JSON
{% endblock %}

{% block content %}
  <h2> Вставьте JSON с информацией о произведенном роботе </h2>
  <form method="post">
    {% csrf_token %}
    <textarea name="json_data" placeholder="Введите JSON данные" rows="10" cols="50">{{ request.POST.json_data }}</textarea>
    <input type="submit" value="Подтвердить">
  </form>
  
  {% if result_message %}
    <div class="success-message">
      <h3>{{ result_message }}</h3>
    </div>
  {% endif %}

  {% if form.errors %}
    <div class="errorlist">
      <h3>Ошибки в форме:</h3>
      <ul>
        {% for field, errors in form.errors.items %}
          <li>{{ field }}: {{ errors|join:", " }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

{% endblock %}