{% extends "base.html" %}

{% block title %}
  Форма для сохранения данных о производстве роботов через JSON
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <h2> Вставьте JSON с информацией о произведенном роботе </h2>
    <form onsubmit="submitForm(event)">
        <textarea id="json-data" rows="10" cols="50" placeholder='{"key": "value"}'></textarea><br>
    <input type="submit" value="Подтвердить">
  </form>
  {% with data=request.POST %}
    {% if form.is_valid %}
      <h2> Данные о производстве робота модели {{ data.model }}, версии {{ data.version }} приняты </h2>
    {% endif %}
  {% endwith %} 
{% endblock %}
